@model PeopleIndexViewModel

@{
    ViewData["Title"] = "Show Actors";
}

<h1>Actors</h1>
<div class="row">

    @foreach (var actor in @Model.Actors)
    {
        <div class="col">
            <a asp-controller="People" asp-action="ShowActorMovies" asp-route-actorId="@actor.Id" class="page-link">@actor.Name</a>
        </div>
    }
</div>
