@model PeopleIndexViewModel

@{
    ViewData["Title"] = "Show Directors";
}

<h1>Directors</h1>
<div class="row">

    @foreach (var director in @Model.Directors)
    {
        <div class="col">
            <a asp-controller="People" asp-action="ShowDirectorMovies" asp-route-directorId="@director.Id" class="page-link">@director.Name</a>
        </div>
    }
</div>
